* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 100vh;
  background: #0f2027;
  background: -webkit-linear-gradient(
      to right,
      hsla(198, 39%, 28%, 0.9),
      hsla(195, 35%, 19%, 0.9),
      hsla(198, 43%, 11%, 0.9)
    ),
    url(../img/charles-deluvio-pjAH2Ax4uWk-unsplash.jpg) no-repeat center center
      fixed;
  background: linear-gradient(
      to right,
      hsla(198, 39%, 28%, 0.9),
      hsla(195, 35%, 19%, 0.9),
      hsla(198, 43%, 11%, 0.9)
    ),
    url(../img/charles-deluvio-pjAH2Ax4uWk-unsplash.jpg) no-repeat center center
      fixed;

  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.headerText {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
