{% extends "layout.html" %} {% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Demo JavaScript</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/demo"
          >Sign Up <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signin">Sign in</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container centered" style="width: 30%;">
  <div class="jumbotron">
    <h1 class="display-4 text-center">Sign Up!</h1>
    <div
      class="alert alert-info alert-dismissible fade show"
      style="display: none;"
      role="alert"
      id="aletr"
    >
      <strong>Holy guacamole!</strong>
      <div id="alertMes">
        You should check in on some of those fields below.
      </div>
    </div>
    <form
      class="was-validated"
      novalidate
      oninput='up2.setCustomValidity(up2.value != up.value ? "Passwords do not match." : "")'
    >
      <div class="form-group">
        <label>Name</label>
        <input
          type="name"
          name="inputName"
          class="form-control"
          id="inputName"
          required
        />
      </div>

      <div class="form-group">
        <label>Email address</label>
        <input
          type="email"
          class="form-control"
          name="inputEmail"
          id="inputEmail"
          required
        />
        <small class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        >
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          name="up"
          id="up"
          required
        />
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Re Password</label>
        <input
          type="password"
          class="form-control"
          name="up2"
          id="up2"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary" id="buttonSubmit">
        Create account
      </button>
    </form>
  </div>
</div>

{% endblock %} {% block scripts %}
<script src="../static/js/demo.js"></script>
{% endblock %}
