{% extends "layout.html" %} {% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">JavaScript</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/select">Select</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/dom"
          >DOM <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/effects">Effects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/demo">Demo</a>
      </li>
    </ul>
  </div>
</nav>

<img src="" alt="" />
<div class="headerText">
  <h1 id="idh1">DOM JavaScript</h1>
  <button type="button" class="btn btn-primary" id="button1">Add Class</button>
  <button type="button" class="btn btn-primary" id="button2">
    Remove CLass
  </button>
  <button type="button" class="btn btn-primary" id="button3">Append</button>
  <button type="button" class="btn btn-primary" id="button4">Prepend</button>
  <button type="button" class="btn btn-primary" id="button5">
    Toggle Class
  </button>
  <button type="button" class="btn btn-primary" id="button6">CSS</button>
  <button type="button" class="btn btn-primary" id="button7">Attr</button>
</div>

{% endblock %} {% block scripts %}
<script src="../static/js/dom.js"></script>
{% endblock %}
