{% extends "layout.html" %} {% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">JavaScript</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/select">Select</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dom">DOM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events">Events</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/effects"
          >Effects<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/demo">Demo</a>
      </li>
    </ul>
  </div>
</nav>

<img src="" alt="" />
<div class="headerText">
  <h1 class="bg-danger text-white py-5 px-5" id="idh1">Effects JavaScript</h1>
  <button type="button" class="btn btn-primary" id="button1">
    Hide / Show
  </button>
  <button type="button" class="btn btn-primary" id="button2">
    FadeIn / FadeOut
  </button>
  <button type="button" class="btn btn-primary" id="button3">
    SlideIn / SlideOut
  </button>
  <button type="button" class="btn btn-primary" id="button4">
    Animated
  </button>
  <button type="button" class="btn btn-primary" id="button5">
    Chaining
  </button>
</div>

{% endblock %} {% block scripts %}
<script src="../static/js/effects.js"></script>
{% endblock %}
