{% extends "layout.html" %} {% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">JavaScript</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/select">Select</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dom">DOM</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/events"
          >Events<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/effects">Effects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/demo">Demo</a>
      </li>
    </ul>
  </div>
</nav>

<img src="" alt="" />
<div class="headerText">
  <h1 id="idh1">Events JavaScript</h1>
  <form id="formu">
    <input
      type="text"
      class="form-control mt-4"
      id="name"
      placeholder="Type you name"
      name="name"
    />
    <div class="bg-dark text-white mt-3 p-2 text-left" id="echo">
      Waiting...
    </div>
    <button class="btn btn-primary mt-2" type="submit">Send</button>
  </form>
</div>

{% endblock %} {% block scripts %}
<script src="../static/js/events.js"></script>
{% endblock %}
