{% extends "layout.html" %} {% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">JavaScript</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/select">Select</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dom">DOM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/effects">Effects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/demo">Demo</a>
      </li>
    </ul>
  </div>
</nav>

<header>
  <div class="headerText">
    <h1 class="display-1 text-white">Learn JavaScript</h1>
    <h2 class="text-white">
      JavaScript is the programming language of HTML and the Web
    </h2>
    <a class="btn btn-outline-light" href="/select" role="button">Start now</a>
  </div>
</header>

{% endblock %}
